<div>
  <%= form_for(@Wiki, url: wiki_path, method: :patch) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Enter Wiki title" %>
    </div>
    <br/>

    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Enter Wiki body", size: "100x20"%>
    <br/>

    <% if current_user.premium? %>
      <%= f.label :private %>
      <%= f.check_box :private %>
      <br/>
    <% end %>

    <%= f.submit %>

  <% end %>
</div>
