<div class="col-md-8">
  <%= form_for(@wiki, url: wikis_path, method: :post) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Enter Wiki title", class: 'form-control' %>
    </div>
    <br/>

    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Enter Wiki body", size: "100x20", class: 'form-control' %>
    <br/>

    <% if current_user.premium? || current_user.admin? %>
      <%= f.label :private %>
      <%= f.check_box :private, {}, checked_value = true, unchecked_value = false %>
      <br/>
    <% end %>

    <%= f.submit %>

  <% end %>
</div>
